html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

li a:visited {
  color: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --color-white: #fafafa;
  --color-gray: #dedede;
  --color-black: #1e1e1e;
  --color-dark-gray: #b8b8b8;
  --color-black-font: #121212;
  --main-font: 'Open sans', sans-serif;
}

body {
  background-color: var(--color-white);
  font-family: var(--main-font);
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  margin-top: 35px;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top-menu {
  display: flex;
  justify-content: end;
}

.menu {
  display: flex;
  justify-content: end;
}

.menu__list {
  display: flex;
  align-self: center;
  color: var(--color-black-font);
  list-style: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.icon-search-small,
.icon-bookmate {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 10px;
}

.menu__list-item {
  margin-right: 27px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.menu__list-item a {
  text-decoration: none;
}

.menu__list-item a:hover {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* font-weight: 700; */
}

.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-value {
  color: var(--color-black-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.search {
  margin-top: 40px;
}

.search-box {
  display: flex;
}

.search-box input[type='text'] {
  width: 553px;
  height: 56px;
  padding-left: 30px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #dedede;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.icon-btn {
  margin-left: 11px;
  background-color: #121212;
  border-radius: 5px;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.icon-search {
  width: 32px;
  height: 32px;
}

.books {
  margin-top: 30px;
}

.books-cards {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
}

.books-cards > * {
  margin-right: 20px;
  margin-top: 20px;
}

.book-card {
  width: 180px;
  height: 288px;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  background-color: var(--color-dark-gray);
  border-radius: 8px;
}

.book-card__image {
  margin-top: 11px;
}

.book-card__details {
  /* margin-left: 12px; */
  width: 180px;
  color: white;
  background-color: #121212;
  border-radius: 0 0 8px 8px;
}

.book-card__bookmark {
  width: 36px;
  height: 32px;
  margin-left: 10px;
  margin-top: 38px;
  margin-bottom: 12px;
  border-radius: 6px;
  background-color: #121212;
  border: 1px solid #fafafa;
}

.book-card__details p {
  margin-left: 12px;
}

.book-card__details h2 {
  margin-left: 12px;
}

.icon svg {
  height: 20px;
  width: 20px;
}

.book-card__type {
  margin-top: 12px;
  color: #dedede;
  font-size: 10.855px;
  font-weight: 300;
  line-height: normal;
}

.book-card__title {
  font-size: 15.389px;
  font-weight: 600;
  line-height: 103.682%; /* 15.956px */
}

.book-card__author {
  margin-top: 8px;
  font-size: 10.992px;
  font-weight: 400;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.prev {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}

.next {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}

.prev i,
.next i {
  margin-right: 10px;
}

p {
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
}

p span {
  font-weight: 700;
}

.tags-button {
  color: var(--color-black-font);
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
  letter-spacing: 0.1px;
}